/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark-mode */
:root {
  --bg-url: url(../img/bg-mobile.jpg);
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --icon-button: url(../img/moon-stars.svg);
}

/* light-mode */
.light {
  --bg-url: url(../img/bg-mobile-light.jpg);
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --icon-button: url(../img/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

/* font-config */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* container */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px 32px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px 0px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;

  background: #fff var(--icon-button) no-repeat center;

  position: absolute;
  z-index: 1;
  left: 0;

  top: 50%;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* list */
#links {
  padding: 24px 0px;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#links ul li a {
  text-decoration: none;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-weight: 500;

  transition: background 0.2s;
}

#links ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

/* social-links */
#social-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 24px 0px;
}

#social-links a {
  padding: 16px;
  border-radius: 100%;
  display: flex;

  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* footer */
#footer {
  text-align: center;
  font-size: 14px;
  padding: 24px 0px;
}

#footer span {
  font-size: 18px;
}

/* responsive-device */
@media (min-width: 700px) {
  :root {
    --bg-url: url(../img/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(../img/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
